/* Fondo de toda la pantalla */
.equiposContainer {
  text-align: center;
  color: white;
  padding: 50px 0;
}

/* Títulos */
.title {
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 600;
}

/* Cards de equipos oficiales */
.cardContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.card {
  background: #bec1c5;
  width: 320px;
  border-radius: 14px;
  padding-bottom: 15px;
  box-shadow: 0 0 8px #dddee0;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.card h3 {
  margin-top: 12px;
}

.card p {
  margin: 5px 0 10px 0;
}

/* ⭐ Recomendados */
.recSection {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

/* Ítems recomendados */
.recCard {
  background: #132f56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.noData {
  font-style: italic;
  color: #ddd;
  margin: 20px 0;
}

/* Form para agregar recomendación */
.formRec {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 25px;
}

.formRec input {
  width: 35%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.formRec button {
  padding: 10px 18px;
  background-color: #0077ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.formRec button:hover {
  background-color: #005ec4;
}

/* Eliminar */
.btnDelete {
  background: red;
  border: none;
  cursor: pointer;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
}

.btnDelete:hover {
  background-color: #c20000;
}
