.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #181b26;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.btn-enviar {
  background: #0066ff;
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease;
}

.btn-enviar:hover {
  background: #004acc;
}
