.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 40px;
  background-color: #001f5b; /* Azul U de Chile */
color: white;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logoContainer {
display: flex;
align-items: center;
}

.logo {
width: 80px;
height: auto;
}

.nav ul {
display: flex;
gap: 24px;
list-style: none;
margin: 0;
padding: 0;
}

.nav a {
text-decoration: none;
color: white;
font-weight: 600;
transition: color 0.3s ease;
}

.nav a:hover {
  color: #ffcc00; /* Dorado */
}

.activeLink {
border-bottom: 2px solid #ffcc00;
}
